h1 {
    font-family: 'Yellowtail', cursive;
    color: #fc5276;
}

span {
    color: #5450ae;
}

.quotes {
    border: 2px 0 2px solid#fc5276;
}

.vote {
    display: flex;
    justify-content: space-evenly;
}