h1 {
    font-family: 'Yellowtail', cursive;
    color: #fc5276;
}

h5 {
    text-align: center;
}

span {
    color: #5450ae;
}

.quotes {
    /* border-right: 8px solid #fc5276; */
    margin-top: 4rem;
    justify-content: space-around;
    border: 2px solid red;
}

.vote {
    display: flex;
    justify-content: space-evenly;
}