<div class="container">
    <h1>Quotes <span>Inspo</span></h1>

    <ul class="row">
        <div class="quotes col-md-4" *ngFor='let quote of quotes;let i = index'>
            <!-- to register the index of each quote item in the quotes list. -->
            <h1>quote</h1>
            <p> {{quote.quote}}</p>
            <div class="vote">
                <button (click)='upVote()'><i class="fas fa-thumbs-up"></i><span>{{likes}}</span></button>
                <button (click)='downVote()'><i class="fas fa-thumbs-down"></i><span>{{dislikes}}</span></button>

            </div>
            <button (click)='toggleDetails(i)'><i class="fas fa-chevron-down"></i></button>
            <!--shows and hide authors description-->
            <app-quotee-detail *ngIf='quote.showauthor'></app-quotee-detail>


        </div>
    </ul>

</div>