<p>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Generate Quote
    </a>

</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        <div class="container-fluid">
            <h2 class="text-center">Create a new Quote</h2>
            <hr>
            <form #quoteForm='ngForm'>
                <div class="form-group">

                    <label for="name">Quote</label>
                    <input type="text" required class="form-control" id="quote" [(ngModel)]="newQuote.quote" name="quote"> Display {{newQuote.quote}}
                </div>
                <div class="form-group">

                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" rows="4" required></textarea>

                </div>
                <div class="form-group">

                    <label for="complete">Completion</label>
                    <input type='date' id="complete" required>

                </div>
                <button type="submit" class="btn btn-success">Add Goal</button>
            </form>
        </div>


    </div>
</div>