<p>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Generate Quote
    </a>

</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        <div class="container-fluid">
            <h2 class="text-center">Create a new Quote</h2>
            <hr>
            <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
                <div class="form-group">

                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" [(ngModel)]="newQuote.author" name="author" #name='ngModel' required>
                    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                        <p>Author Name is required</p>
                    </div>
                </div>
                <div class="form-group">

                    <label for="description">Quote</label>
                    <textarea class="form-control" id="description" rows="4" [(ngModel)]="newQuote.quote" name="quote" #quote="ngModel" required></textarea>
                    <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
                        <p>quote is required</p>
                    </div>
                </div>
                <div class="form-group">

                    <label for="complete">Completion</label>
                    <input type='date' id="complete" [(ngModel)]="newQuote.submissionDate" name="submissionDate" #submissionDate="ngModel" required>
                    <div [hidden]="submissionDate.valid || submissionDate.pristine" class="alert alert-danger">
                        <p>Date is required</p>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Add Quote</button>
            </form>
        </div>


    </div>
</div>